---
import LatestOffers from "@components/react/LatestOffers";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="min-h-screen grid grid-flow-row grid-rows-auto bg-background-white"
  >
    <div class="container">
      <LatestOffers />
      <a href="https://ui.shadcn.com/docs/components/sheet" target="_blank"
        >Link to Shadcn component
      </a>
    </div>
  </main>
</Layout>
