---
import LatestOffers from "@components/react/LatestOffers";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="min-h-screen grid grid-flow-row grid-rows-auto bg-background-white"
  >
    <div class="container">
      <LatestOffers client:media="(max-width: 50em)" />
    </div>
    <div class="container">
      <LatestOffers client:idle />
    </div>
    <div class="container">
      <LatestOffers client:load />
    </div>
    <div class="media">
      <LatestOffers client:only />
    </div>
    <div>
      <LatestOffers server:defer />
    </div>
    <div>
      <LatestOffers client:only />
    </div>
    <div>
      <LatestOffers client:visible />
    </div>
    <div>
      <LatestOffers client:only="react" />
    </div>
    <a href="https://ui.shadcn.com/docs/components/sheet" target="_blank"
      >Link to Shadcn component
    </a>
  </main>
</Layout>
